/*  ===========================================
    11   ÍCONES
    =========================================== */


    .subviewbutton {
      -moz-context-properties: fill, fill-opacity !important;
      fill: currentColor !important;
      shape-rendering: smooth !important;
        
    }
    .subviewbutton > .toolbarbutton-icon {
      width: 18px !important;
      height: 18px !important;
    }


    /* Chevrons */
    .panel-header > .subviewbutton-back {
      list-style-image: url('icons/winui/chevron-left.svg') !important;
    }

    #protections-popup-mainView .subviewbutton-nav:not(.notFound), .widget-overflow-list .subviewbutton-nav, .PanelUI-subView .subviewbutton-nav {
      &::after {
        -moz-context-properties: fill, fill-opacity;
        content: url('icons/winui/chevron-right2.svg') !important;
        fill: currentColor !important;
        fill-opacity: 0.6 !important;
        display: flex;
        width: 18px !important;
        height: 18px !important;
        margin-right: -7px !important;
      }
    }

.menu-right {
    content: url('icons/winui/chevron-right2.svg') !important;
    margin-inline-end: 0px !important;
    width: 18px !important;
    height: 18px !important;
    fill-opacity: 0.6 !important;
}

#zen-glance-sidebar-close {
  list-style-image: url('icons/winui/close.svg') !important;
}
#zen-glance-sidebar-open {
  list-style-image: url('icons/winui/fullscreen-in.svg') !important;
}


/* MAIN MENU =========================================================== */

    /* New tab */
    #appMenu-new-tab-button2 {
      list-style-image: url('icons/winui/add3.svg') !important;
      image-rendering: smooth !important;
    }

    /* New WINDOW */
    #appMenu-new-window-button2 {
      list-style-image: url('icons/winui/new-window.svg') !important;
      image-rendering: smooth !important;
    }

    /* New PRIVATE WINDOW */
    #appMenu-new-private-window-button2 {
      list-style-image: url('icons/winui/incognito.svg') !important;
         image-rendering: smooth !important;
    }
    #appMenu-bookmarks-button {
        list-style-image: url("icons/winui/favorites.svg") !important;
    }
    #appMenu-history-button {
      list-style-image: url('icons/winui/history-menu.svg') !important;
    }
    #appMenu-extensions-themes-button {
      list-style-image: url('icons/winui/extension.svg') !important;
    }
    #appMenu-downloads-button {
      list-style-image: url('icons/winui/download.svg') !important;
    }
    #appMenu-passwords-button {
      list-style-image: url('icons/winui/password.svg') !important;
    }
    #appMenu-print-button2 {
      list-style-image: url('icons/winui/print.svg') !important;
    }
    #appMenu-save-file-button2 {
      list-style-image: url('icons/winui/save-as.svg') !important;
    }
    #appMenu-translate-button {
      list-style-image: url('icons/winui/translate.svg') !important;
    }
    #appMenu-find-button2 {
      list-style-image: url('icons/winui/find-in.svg') !important;
    }
    #appMenu-zoomEnlarge-button2 {
      list-style-image: url('icons/winui/zoom-in.svg') !important;
    }
    #appMenu-zoomReduce-button2 {
      list-style-image: url('icons/winui/zoom-out.svg') !important;
    }
    #appMenu-fullscreen-button2 {
      list-style-image: url('icons/winui/fullscreen-in.svg') !important;
    }
    #appMenu-settings-button {
        list-style-image: url("icons/winui/settings.svg") !important;
    }
    #appMenu-more-button2 {
        list-style-image: url("icons/winui/more.svg") !important;
    }
    #appMenu-help-button2 {
        list-style-image: url("icons/winui/help.svg") !important;
    }
    #appMenu-quit-button2 {
        list-style-image: url("icons/winui/exit.svg") !important;
    }


/* Bookmarks submenu */

    #PanelUI-bookmarks .panel-header > h1 > span::before {
      --header-image: url("icons/winui/favorites.svg") !important;
    }

    .panel-header > h1 > span::before {
      content: '';
      background: var(--header-image) center / 18px no-repeat !important;
      -moz-context-properties: fill, fill-opacity;
      fill: currentColor;
      padding-inline-start: calc(var(--fp-enabled, 0) * 16px);
      margin-inline-end: calc(var(--fp-enabled, 0) * 8px);
    }

    #panelMenuBookmarkThisPage > image:nth-child(1) {
        list-style-image: url("icons/winui/favorite-this.svg") !important;
    }
    #panelMenu_searchBookmarks > image:nth-child(1) {
        list-style-image: url("icons/winui/search-favorite.svg") !important;
    }
    #panelMenu_viewBookmarksToolbar > image:nth-child(1) {
        list-style-image: url("icons/winui/bookmarks-toolbar.svg") !important;
    }
    #panelMenu_showAllBookmarks > image:nth-child(1) {
        list-style-image: url("icons/winui/manage.svg") !important;
    }


/* History Submenu */

    #PanelUI-history .panel-header > h1 > span::before {
      --header-image: url('icons/winui/history-menu.svg') !important;
    }

    #appMenuRecentlyClosedTabs {
      --menu-image: url('icons/winui/schedule.svg') !important;
        background-size: 16px !important;
        background-position: 13px center !important;
        background-repeat: no-repeat !important;
        -moz-context-properties: fill, fill-opacity !important;
        fill: currentColor !important;
    }
    #PanelUI-history toolbarbutton {
        background-image: var(--menu-image) !important;
    }

    #appMenuRecentlyClosedWindows > image:nth-child(1) {
        list-style-image: url("icons/winui/reopen-window.svg") !important;
    }
    #appMenuSearchHistory > image:nth-child(1) {
        list-style-image: url("icons/winui/search-this.svg") !important;
    }
    #appMenuClearRecentHistory > image:nth-child(1) {
        list-style-image: url("icons/winui/delete-history.svg") !important;
    }
    #PanelUI-historyMore > image:nth-child(1) {
        list-style-image: url("icons/winui/history-menu.svg") !important;
    }


/* More tools submenu */

    #appmenu-moreTools-button > image:nth-child(1) {
        list-style-image: url("icons/winui/customize-toolbar.svg") !important;
    }
    #appmenu-zen-share-rice > image:nth-child(1) {
        list-style-image: url("icons/winui/share-rice.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(1) > image:nth-child(1) {
        list-style-image: url("icons/winui/dev.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(2) > image:nth-child(1) {
        list-style-image: url("icons/winui/task-manager.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(3) > image:nth-child(1) {
        list-style-image: url("icons/winui/remote-debug.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(4) > image:nth-child(1) {
        list-style-image: url("icons/winui/browser-toolbox.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(5) > image:nth-child(1) {
        list-style-image: url("icons/winui/browser-console.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(6) > image:nth-child(1) {
        list-style-image: url("icons/winui/responsive.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(7) > image:nth-child(1) {
        list-style-image: url("icons/winui/colors.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(8) > image:nth-child(1) {
        list-style-image: url("icons/winui/page-source.svg") !important;
    }
    #appmenu-developer-tools-view > toolbarbutton:nth-child(9) > image:nth-child(1) {
        list-style-image: url("icons/winui/extension-dev.svg") !important;
    }

    #appMenu_aboutName > image:nth-child(1) {
      list-style-image: url("icons/brand/zen-identity-icon.svg") !important;  
    }



/* Sync and Account Submenu */

    #PanelUI-fxa-menu-syncnow-button > hbox {
        background-image: url("icons/winui/sync.svg") !important;
        background-size: 18px !important;
        background-clip: no-clip !important;
        background-repeat: no-repeat !important;
    }

    #PanelUI-appMenu-fxa-image-last-synced {
      list-style-image: url("icons/winui/sync-anim.svg") !important;  
    }

    #PanelUI-fxa-menu-connect-device-button > image:nth-child(1) {
        list-style-image: url("icons/winui/sync-device.svg") !important;  
    }
    #PanelUI-fxa-menu-sendtab-button > image:nth-child(1) {
        list-style-image: url("icons/winui/sync-send.svg") !important;  
    }
    #PanelUI-fxa-menu-sync-prefs-button > image:nth-child(1) {
        list-style-image: url("icons/winui/sync-settings.svg") !important;  
    }
    #PanelUI-fxa-menu-account-signout-button > image:nth-child(1) {
        list-style-image: url("icons/winui/logout.svg") !important;  
    }

    .sendToDevice-device {
      &[clientType="desktop"] {
        list-style-image: url("icons/winui/computer.svg") !important;
      }
    }

    .PanelUI-remotetabs-clientcontainer > label[itemtype="client"] {
      color: var(--text-color-deemphasized);
      font-size: 11px;
      margin-top: 10px !important;
      margin-bottom: 10px !important;
      margin-left: 15px !important;
    }

    .remote-tabs-close-button {
        list-style-image: url("icons/winui/close.svg") !important;
        width: 50px !important;
    }



/* MAIN SIDEBAR ICONS */

    #urlbar-search-button {
      list-style-image: url("icons/winui/menu-more.svg") !important;
    }
    #unified-extensions-button {
      list-style-image: url("icons/winui/extension.svg") !important;
    }
    #back-button {
      list-style-image: url("chrome://browser/skin/back.svg") !important;
    }
    #forward-button {
      list-style-image: url("chrome://browser/skin/forward.svg") !important;
    }
    #reload-button {
      list-style-image: url("chrome://global/skin/icons/reload.svg") !important;
    }
    #tabs-newtab-button {
        list-style-image: url('icons/winui/add-new.svg') !important;
    }


/* URL BAR ICONS */

    #zen-split-views-button {
        width: 16px !important;
        height: 14px !important;
      }

    :root[zen-single-toolbar="true"] {
      & .sharing-icon, & .urlbar-icon, & #permissions-granted-icon, & #tracking-protection-icon, & #tracking-protection-icon-box, & #blocked-permissions-container > .blocked-permission-icon {
        width: 16px !important;
        height: 16px !important;
      }
    }

    #zenSplitViewModifierActivateReallocation > image:nth-child(1) {
      list-style-image: url("icons/winui/info.svg") !important;
      width: 26px !important;
      height: 26px !important;
    }

    #zenSplitViewModifierHeader > h1:nth-child(1) > span:nth-child(1) {
      margin-left: -4px !important;
    }

    #identity-box[pageproxystate="valid"].verifiedDomain #identity-icon {
      list-style-image: url("icons/winui/lock.svg") !important;  
    }
    .urlbar-input-container[pageproxystate="valid"] > #tracking-protection-icon-container > #tracking-protection-icon-box {
      list-style-image: url("icons/winui/shield.svg") !important;
    }
    #picture-in-picture-button > .urlbar-icon {
      list-style-image: url('icons/winui/pip-enter.svg') !important;
    }
    #picture-in-picture-button[pipactive] > .urlbar-icon {
      list-style-image: url("icons/winui/pip-exit.svg") !important;
    }
    #star-button {
        list-style-image: url("icons/winui/star.svg") !important;
    }
    #star-button[starred] {
      list-style-image: url("icons/winui/star-filled.svg") !important;
    }

    #password-notification-icon {
      list-style-image: url("icons/winui/password-vertical.svg") !important;
    }



/* SIDEBAR BOTTOM ICONS */

    #appMenu-downloads-button, 
    #appMenu-library-downloads-button {
      list-style-image: url('icons/winui/download.svg') !important;
    }



/* SPECIAL TABS ICONS */

    .tab-icon-image[src="chrome://global/skin/icons/settings.svg"] {
      content: url('icons/winui/settings.svg') !important;
    }

    .tab-icon-image[src="chrome://branding/content/icon32.png"], .tab-icon-image[src="chrome://browser/skin/privatebrowsing/favicon.svg"] {
      content: url('icons/winui/new-tab-2.svg') !important;
    }




/* CONTEXT MENUS */

    :not(:not(menubar) > menu, #ContentSelectDropdown) > menupopup > menuitem:not(.menuitem-iconic, [type="checkbox"], [type="radio"], .in-menulist, .in-menulist menuitem, .unified-nav-current), :not(:not(menubar) > menu, #ContentSelectDropdown) > menupopup > menu:not(.menu-iconic, [type="checkbox"], [type="radio"], .in-menulist, .in-menulist menu, .unified-nav-current), #toggle_toolbar-menubar, #PanelUI-history toolbarbutton, #unified-extensions-context-menu menuitem {
      background-image: var(--menu-image) !important;
      background-size: 16px !important;
      background-position: var(--fp-contextmenu-menuitem-padding-inline) center !important;
      background-repeat: no-repeat !important;
      -moz-context-properties: fill, fill-opacity !important;
      fill: currentColor !important;
    }

    #manage-saved-logins {
      --menu-image: url('icons/winui/password.svg') !important;
    }

    #toolbar-context-openANewTab {
      --menu-image: url('icons/winui/add3.svg') !important;
    }
    #toolbar-context-reloadSelectedTab {
      --menu-image: url('icons/winui/refresh.svg') !important;
    }
    #toolbar-context-customize {
      --menu-image: url('icons/winui/customize.svg') !important;
    }
    #toolbar-context-undoCloseTab {
      --menu-image: url('icons/winui/reopen.svg') !important;
    }
    menuitem[checked="true"] > .menu-iconic-left {
      list-style-image: url('icons/winui/check.svg') !important;
    }

    #context_openANewTab{
      --menu-image: url('icons/winui/tab-below.svg') !important;
    }
    #context_moveTabToNewGroup{
      --menu-image: url('icons/winui/tab-group.svg') !important;
    }
    #context_reloadTab, #context_reloadSelectedTabs {
      --menu-image: url('icons/winui/refresh.svg') !important;
    }
    #context_toggleMuteTab, #context_toggleMuteSelectedTabs {
      --menu-image: url('icons/winui/mute.svg') !important;
    }
    #context_zen-add-essential {
      --menu-image: url('icons/winui/essentials-add.svg') !important;
    }
    #context_zen-remove-essential {
      --menu-image: url('icons/winui/essentials-remove.svg') !important;
    }
    #context_pinTab, #context_pinSelectedTabs {
      --menu-image: url('icons/winui/pin.svg') !important;
    }
    #context_unpinTab {
      --menu-image: url('icons/winui/unpin.svg') !important;
    }
    #context_duplicateTab, #context_duplicateTabs {
      --menu-image: url('icons/winui/tab-duplicate.svg') !important;
    }
    #context_bookmarkSelectedTabs {
      --menu-image: url('icons/winui/star.svg') !important;
    }
    #context_moveTabOptions {
      --menu-image: url('icons/winui/tab-move.svg') !important;
    }
    #context_reopenInContainer{
      --menu-image: url('icons/winui/tab-move-container.svg') !important;
    }
    #context_closeTab {
      --menu-image: url('icons/winui/close.svg') !important;
    }
    #context_closeDuplicateTabs {
      --menu-image: url('icons/winui/tab-close-duplicates.svg') !important;
    }
    #context-zen-change-workspace-tab {
      --menu-image: url('icons/winui/tab-workspace-move.svg') !important;
    }
    #context_zenSplitTabs {
      --menu-image: url('icons/winui/tab-split.svg') !important;
    }
    #context_closeTabOptions {
      --menu-image: url('icons/winui/tab-close-multiple.svg') !important;
    }
    #context_undoCloseTab {
      --menu-image: url('icons/winui/tab-reopen.svg') !important;
    }
    #context_zenUnloadTab {
      --menu-image: url('icons/winui/tab-unload.svg') !important;
    }
    #context_zen-replace-pinned-url-with-current {
      --menu-image: url('icons/winui/tab-replace-url.svg') !important;
    }
    #context_zen-reset-pinned-tab {
      --menu-image: url('icons/winui/history-menu.svg') !important;
    }

    #toolbar-context-move-to-panel {
      --menu-image: url('icons/winui/pin-overflow.svg') !important;
    }
    #toolbar-context-remove-from-toolbar {
      --menu-image: url('icons/winui/remove.svg') !important;
    }
    #zenToolbarThemePicker {
      --menu-image: url('icons/winui/colors-palette.svg') !important;
    }

    #toolbar-context-autohide-downloads-button > label:nth-child(2) {
        margin-left: -4px !important;
    }

    #toolbar-context-always-open-downloads-panel > label:nth-child(2) {
        margin-left: -5px !important;
    }

    #context-navigation > menuitem {
      padding: 1px !important;
    }

    #context-back {
        list-style-image: url('icons/winui/arrow-back.svg') !important;
    }
    #context-forward {
        list-style-image: url('icons/winui/arrow-forward.svg') !important;
    }
    #context-reload {
         list-style-image: url('icons/winui/refresh.svg') !important;
    }
    #context-stop {
         list-style-image: url('icons/winui/stop.svg') !important;
    }
    #context-bookmarkpage {
         list-style-image: url('icons/winui/star.svg') !important;
    }


    .bookmark-item[container] {
        list-style-image: url('icons/winui/folder.svg') !important;
    }

    .bookmark-item {
        list-style-image: url('icons/winui/globe.svg') !important;
        -moz-context-properties: fill !important;
        fill: currentColor !important;
    }




/* TEXTBOX CONTEXT MENU */

    #context-savepage {
        --menu-image: url('icons/winui/save-as.svg') !important;
    }

    #context-take-screenshot {
        --menu-image: url('icons/winui/screenshot.svg') !important;
    }
    #context-viewsource {
        --menu-image: url('icons/winui/page-source.svg') !important;
    }
    #context-inspect {
        --menu-image: url('icons/winui/page-inspect.svg') !important;
    }
    #context-undo {
        --menu-image: url('icons/winui/undo.svg') !important;
    }
    #context-redo {
        --menu-image: url('icons/winui/redo.svg') !important;
    }
    #context-cut {
        --menu-image: url('icons/winui/cut.svg') !important;
    }
    #context-copy {
        --menu-image: url('icons/winui/copy.svg') !important;
    }
    #context-paste {
        --menu-image: url('icons/winui/paste.svg') !important;
    }
    #context-paste-no-formatting {
        --menu-image: url('icons/winui/paste-formatting.svg') !important;
    }
    #context-delete {
        --menu-image: url('icons/winui/delete-alt.svg') !important;
    }
    #context-searchselect {
        --menu-image: url('icons/winui/search.svg') !important;
    }
    #spell-dictionaries {
        --menu-image: url('icons/winui/language.svg') !important;
    }
    #context-viewpartialsource-selection {
        --menu-image: url('icons/winui/dev.svg') !important;
    }
    #context-selectall {
        --menu-image: url('icons/winui/select-all.svg') !important;
    }
    #context-print-selection {
        --menu-image: url('icons/winui/print.svg') !important;
    }
    #context-translate-selection {
        --menu-image: url('icons/winui/translate.svg') !important;
    }




/* LINKBOX CONTEXT MENU */

    #context-openlinkintab {
        --menu-image: url('icons/winui/tab.svg') !important;
    }
    #context-openlinkinusercontext-menu {
        --menu-image: url('icons/winui/link-container.svg') !important;
    }
    #context-openlink {
        --menu-image: url('icons/winui/link-newwindow.svg') !important;
    }
    #context-openlinkprivate {
        --menu-image: url('icons/winui/incognito.svg') !important;
    }
    #context-zenSplitLink {
        --menu-image: url('icons/winui/link-split.svg') !important;
    }
    #context-copylink {
        --menu-image: url('icons/winui/copy.svg') !important;
    }
    #context-stripOnShareLink {
        --menu-image: url('icons/winui/link-tracking.svg') !important;
    }
    #context-zenAddToWebPanel {
        --menu-image: url('icons/winui/link-webpanel.svg') !important;
    }


/* IMAGEBOX CONTEXT MENU */

    #context-saveimage {
        --menu-image: url('icons/winui/image-saveas.svg') !important;
    }
    #context-copyimage-contents {
        --menu-image: url('icons/winui/image-copy.svg') !important;
    }
    #context-copyimage {
        --menu-image: url('icons/winui/url.svg') !important;
    }
    #context-viewimage {
        --menu-image: url('icons/winui/tab.svg') !important;
    }


/* VIDEOBOX CONTEXT MENU */

    #context-media-play {
        --menu-image: url('icons/winui/play.svg') !important;
    }
    #context-media-pause {
        --menu-image: url('icons/winui/pause.svg') !important;
    }
    #context-media-mute {
        --menu-image: url('icons/winui/mute.svg') !important;
    }
    #context-media-unmute {
        --menu-image: url('icons/winui/unmute.svg') !important;
    }
    #context-media-playbackrate {
        --menu-image: url('icons/winui/speed.svg') !important;
    }
    #context-media-loop > label:nth-child(2) {
        margin-left: -4px !important;
    }
    #context-video-fullscreen {
        --menu-image: url('icons/winui/fullscreen-in.svg') !important;
    }
    #context-media-showcontrols {
        --menu-image: url('icons/winui/controls.svg') !important;
    }
    #context-media-hidecontrols {
        --menu-image: url('icons/winui/controls.svg') !important;
    }
    #context-viewvideo {
        --menu-image: url('icons/winui/tab.svg') !important;
    }
    #context-video-pictureinpicture > label:nth-child(2) {
        margin-left: -4px !important;
    }
    #context-video-saveimage {
        --menu-image: url('icons/winui/camera.svg') !important;
    }
    #context-savevideo {
        --menu-image: url('icons/winui/download.svg') !important;
    }
    #context-copyvideourl {
        --menu-image: url('icons/winui/url.svg') !important;
    }
    #context-sendvideo {
        --menu-image: url('icons/winui/mail.svg') !important;
    }
    #frame {
        --menu-image: url('icons/winui/frame.svg') !important;
    }




/* BOOKMARK CONTEXT MENU */

    menuitem[id="placesContext_openBookmarkContainer:tabs"] {
        --menu-image: url('icons/winui/open-all.svg') !important;
    }
    menuitem[id="placesContext_new:bookmark"] {
        --menu-image: url('icons/winui/star.svg') !important;
    }
    menuitem[id="placesContext_new:folder"] {
        --menu-image: url('icons/winui/new-folder.svg') !important;
    }
    menuitem[id="placesContext_new:separator"] {
        --menu-image: url('icons/winui/separator.svg') !important;
    }
    menuitem[id="placesContext_paste"] {
        --menu-image: url('icons/winui/paste.svg') !important;
    }
    menuitem[id="placesContext_cut"] {
        --menu-image: url('icons/winui/cut.svg') !important;
    }
    menuitem[id="placesContext_copy"] {
        --menu-image: url('icons/winui/copy.svg') !important;
    }
    menuitem[id="placesContext_paste_group"] {
        --menu-image: url('icons/winui/paste.svg') !important;
    }
    menuitem[id="placesContext_openBookmarkContainer:tabs"] {
        --menu-image: url('icons/winui/tab.svg') !important;
    }
    #toggle_PersonalToolbar {
        --menu-image: url('icons/winui/bookmarks-toolbar-alt.svg') !important;
    }
    menuitem[id="placesContext_showAllBookmarks"] {
        --menu-image: url('icons/winui/edit-alt.svg') !important;
    }
    menuitem[id="placesContext_show_bookmark:info"] {
        --menu-image: url('icons/winui/edit.svg') !important;
    }
    menuitem[id="placesContext_deleteBookmark"] {
        --menu-image: url('icons/winui/delete.svg') !important;
    }
    menuitem[id="placesContext_open:newtab"] {
        --menu-image: url('icons/winui/tab.svg') !important;
    }
    menu[id="placesContext_open:newcontainertab"] {
        --menu-image: url('icons/winui/container.svg') !important;
    }
    menuitem[id="placesContext_open:newwindow"] {
        --menu-image: url('icons/winui/new-window.svg') !important;
    }
    menuitem[id="placesContext_open:newprivatewindow"] {
        --menu-image: url('icons/winui/incognito.svg') !important;
    }
    #show-other-bookmarks_PersonalToolbar > label:nth-child(2) {
      margin-left: -4px !important;
    }
    menuitem[id="placesContext_show_folder:info"] {
        --menu-image: url('icons/winui/folder-edit.svg') !important;
    }
    menuitem[id="placesContext_deleteFolder"] {
        --menu-image: url('icons/winui/folder-delete.svg') !important;
    }
    menuitem[id="placesContext_sortBy:name"] {
        --menu-image: url('icons/winui/sort-name.svg') !important;
    }



#permissions-granted-icon {
  list-style-image: url('icons/winui/page-info.svg') !important;
}

#reader-mode-button > .urlbar-icon {
  list-style-image: url('icons/winui/reader.svg') !important;
}

.folder-icon {
  list-style-image: url('icons/winui/folder.svg') !important;
}

#PanelUI-zen-workspaces-reorder-mode image {
  list-style-image: url('icons/winui/move-alt.svg') !important;
  rotate: none !important;
}

#PanelUI-zen-workspaces-new image {
  list-style-image: url('icons/winui/add-new.svg') !important;
  rotate: none !important;
}





#zen-sidebar-web-panel-back {
  list-style-image: url('icons/winui/chevron-left.svg') !important;
}
#zen-sidebar-web-panel-forward {
  list-style-image: url('icons/winui/chevron-right.svg') !important;
}
#zen-sidebar-web-panel-reload {
  list-style-image: url('icons/winui/refresh.svg') !important;
}
#zen-sidebar-web-panel-home {
  list-style-image: url('icons/winui/home.svg') !important;
}
#zen-sidebar-web-panel-pinned {
  list-style-image: url('icons/winui/unpin.svg') !important;
}
#zen-sidebar-web-panel-pinned[pinned="true"] {
  list-style-image: url('icons/winui/pin.svg') !important;
}
#zen-sidebar-web-panel-close {
  list-style-image: url('icons/winui/close.svg') !important;
}



/* ZEN WEB PANEL CONTEXT MENU */

#context_zenUnloadWebPanel {
  --menu-image: url('icons/winui/unload.svg') !important;
}
#context_zenToggleMuteWebPanel[muted] {
  --menu-image: url('icons/winui/mute.svg') !important;
}
#context_zenToggleMuteWebPanel {
  --menu-image: url('icons/winui/sound.svg') !important;
}
#context_zenOpenNewTabWebPanel {
  --menu-image: url('icons/winui/tab.svg') !important;
}
#context_zenWebPanelContextInContainer {
  --menu-image: url('icons/winui/container.svg') !important;
}
#context_zenToogleUAWebPanel {
  --menu-image: url('icons/winui/mobile-code.svg') !important;
}
#context_zenDeleteWebPanel {
  --menu-image: url('icons/winui/delete.svg') !important;
}



/* FIREFOX AI CHATBOT CONTEXT MENU */

#ask-chat-shortcuts .subviewbutton {
  display: flex !important;
  flex-direction: row !important;
  justify-content: flex-start !important;
  padding-inline: 10px !important;
}

#ask-chat-shortcuts > vbox:nth-child(1) > toolbarbutton:nth-child(1) > image:nth-child(1) {
  list-style-image: url('icons/winui/ai-summarize.svg') !important;
  order: -1 !important;
  margin-right: 10px !important;
}
#ask-chat-shortcuts > vbox:nth-child(1) > toolbarbutton:nth-child(2) > image:nth-child(1) {
  list-style-image: url('icons/winui/ai-explain.svg') !important;
  order: -1 !important;
  margin-right: 10px !important;
}
#ask-chat-shortcuts > vbox:nth-child(1) > toolbarbutton:nth-child(3) > image:nth-child(1) {
  list-style-image: url('icons/winui/ai-quiz.svg') !important;
  order: -1 !important;
  margin-right: 10px !important;
}

#ask-chat-shortcuts > vbox:nth-child(1) > toolbarbutton:nth-child(6) {
  list-style-image: url('icons/winui/close.svg') !important;
}

#ask-chat-shortcuts > vbox:nth-child(1) > textarea:nth-child(4) {
  margin-top: 5px !important;
  margin-right: 5px !important;
  margin-bottom: 5px !important;
  margin-left: 5px !important;
  min-height: 30px !important;
  max-height: 30px !important;
  min-width: 180px !important;
  max-width: 180px !important;
}

.content-shortcuts {
  background: light-dark(color-mix(in srgb, white 60%, transparent),color-mix(in srgb, black 60%, transparent)) !important;
  backdrop-filter: blur(10px) !important;
  border: 1px solid var(--arrowpanel-border-color);
  border-radius: 10px !important;
  color: var(--arrowpanel-color);
  height: 28px !important;
  width: 28px;
}

.content-shortcuts::before {
  content: "✨";
  position: absolute;
  font-size: 16px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#context-ask-chat {
  --menu-image: url('icons/winui/ai-chat.svg') !important;
}
#context-ask-chat > menupopup {
min-width: 130px !important;
}

#context-ask-chat > menupopup:nth-child(4) > menuitem:nth-child(1) {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
   background-image: url('icons/winui/ai-summarize.svg') !important;
   background-repeat: no-repeat !important;
  padding-left: 20px !important;
  background-position: 5px center !important;
  background-size: 18px !important;
}
#context-ask-chat > menupopup:nth-child(4) > menuitem:nth-child(2) {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
   background-image: url('icons/winui/ai-explain.svg') !important;
   background-repeat: no-repeat !important;
  padding-left: 20px !important;
  background-position: 5px center !important;
  background-size: 18px !important;
}
#context-ask-chat > menupopup:nth-child(4) > menuitem:nth-child(3) {
  display: flex !important;
  flex-direction: column !important;
  justify-content: flex-start !important;
   background-image: url('icons/winui/ai-quiz.svg') !important;
   background-repeat: no-repeat !important;
  padding-left: 3px !important;
  background-position: 5px center !important;
  background-size: 16px !important;
}


/* SECURITY CONTEXT MENU */

#identity-popup-security-button > image:nth-child(1) {
  list-style-image: url('icons/winui/lock.svg') !important;
}

#identity-popup-clear-sitedata-button > image:nth-child(1) {
  list-style-image: url('icons/winui/delete.svg') !important;
}

hbox.identity-popup-security-connection > image:nth-child(1) {
  list-style-image: url('icons/winui/lock.svg') !important;
}

#identity-popup-more-info > image:nth-child(1) {
  list-style-image: url('icons/winui/info.svg') !important;
}



/* DOWNLOAD CONTEXT MENU */

.downloadAlwaysUseSystemDefaultMenuItem > label:nth-child(2) {
  margin-left: -5px !important;
}

.downloadCopyLocationMenuItem {
  --menu-image: url('icons/winui/url.svg') !important;
}

.downloadRemoveFromHistoryMenuItem {
  --menu-image: url('icons/winui/close.svg') !important;
}

#downloadsContextMenu > menuitem:nth-child(14) {
  --menu-image: url('icons/winui/delete-alt.svg') !important;
}

.downloadShowMenuItem {
  --menu-image: url('icons/winui/folder.svg') !important;
}

.downloadOpenReferrerMenuItem {
  --menu-image: url('icons/winui/undo.svg') !important;
}

.downloadDeleteFileMenuItem {
  --menu-image: url('icons/winui/delete.svg') !important;
}


window#history-panel.sidebar-panel menupopup#placesContext menuitem {
  background-image: none !important;
}

window#bookmarksPanel.sidebar-panel menupopup#placesContext menuitem {
  background-image: none !important;
}

window#bookmarksPanel.sidebar-panel menupopup#placesContext menuitem {
  background-image: none !important;
}
