/*  ===================================
    BARRA DE ENDEREÇOS / URLBAR
    =================================== */

    /* Extended URL Bar */
    #urlbar[breakout-extend="true"] {
      position: fixed !important;
      top: 20% !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
      min-width: 70vh !important;
      
      #urlbar-container:has(&) {
        border-radius: 10px !important;
        height: 38px !important;
        background: none !important;
        border: 1px solid color-mix(in srgb, black 10%, white 20%) !important;
      }
    }

    /* Colors */
    #urlbar {
      background-color:  light-dark(color-mix(in srgb, white 0%, transparent 80%), 
                                    color-mix(in srgb, black 0%, transparent 80%)) !important;
      margin-top: 0 !important;
      margin-left: 0px !important;
      margin-right: 3px !important;
      border: 1px solid color-mix(in srgb, black 10%, white 20%) !important;
      border-radius: 10px !important;
    }

    #urlbar[open] {
      & #urlbar-background {
        background-color: light-dark(color-mix(in srgb, white 100%, transparent 20%), 
                                     color-mix(in srgb, black 100%, transparent 20%)) !important;
        box-shadow: 0 10px 40px 10px rgba(0,0,0,0.05) !important;
        outline: none !important;
        outline-offset: none !important;
        backdrop-filter: blur(30px) !important;
      }
    }

    #urlbar-background {
      border: none !important;
      background-color:  transparent !important;
      box-shadow: none !important;
    }

    /* Bad SSL icon */
    #identity-box[pageproxystate="valid"].certErrorPage #identity-icon {
      list-style-image: url('icons/winui/dangerous.svg') !important;
      fill: currentColor !important;
    }

    .certErrorPage #identity-icon-box {
      border-radius: 7px !important;
      background: light-dark(color-mix(in srgb, var(--lwt-urlbar-bg) 0%, red 30%), color-mix(in srgb, var(--lwt-urlbar-bg) 100%, black 40%)) !important;
      margin-left: 3px !important;
    }


    /* URL Bar Buttons */
:root[zen-single-toolbar="true"] {
  & #urlbar[open] :is(#tracking-protection-icon-container, .urlbar-page-action, .identity-box-button):not([hidden="true"]):not(#identity-permission-box) {
    opacity: 1;
    margin-inline-start: 3px !important;
    transform: none;
    display: flex;
  }
}

#urlbar[open] {
    #identity-permission-box {
        display: inherit !important;
    }
}

    #urlbar:hover #star-button-box {
      display: inherit !important;
      transition: all 0.1s ease;
    }
    #urlbar[breakout-extend="true"] {
      #identity-box {
          display: flex !important;
      }
      
    }

    /* Not Secure webpage label on URLBar */
    .notSecure #identity-icon-box {
      border-radius: 7px !important;
      background: light-dark(color-mix(in srgb, var(--lwt-urlbar-bg) 0%, red 30%), 
                             color-mix(in srgb, var(--lwt-urlbar-bg) 100%, black 40%)) !important;
      margin-left: 3px !important;
    }
      #identity-icon-label {
        display: none !important;
      }

    #zen-split-views-button {
      fill: light-dark(black, white) !important;
    }

    #star-button[starred] {
      fill-opacity: 1;
      fill: color-mix(in srgb, var(--toolbarbutton-icon-fill-attention) 100%, black 10%) !important;
    }

    /* Altera o Identity Icon na URL Bar para o novo ícone do Zen */
    #identity-box[pageproxystate="valid"].chromeUI #identity-icon {
      list-style-image: url(icons/brand/zen-identity-icon.svg) !important;
    }
      



      /* URL Bar extend */
      #urlbar[breakout-extend] #urlbar-background {
        transition: all 0.1s linear !important;
      }
  
      .urlbarView-body-inner {
        #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
          border-top: 0px solid var(--urlbarView-separator-color) !important;
        }
      }
      .urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
        border-top: 0px solid var(--urlbarView-separator-color) !important;
      }
  
      /* hide search one offs */
      @media not (-moz-bool-pref: "shimmer.show-search-one-offs") {
        .search-one-offs {
          display: none !important;
        }
      }
  
      .urlbarView-results {
        padding-block: unset !important;
        margin-left: 0px !important;
        margin-bottom: 5px !important;
        white-space: nowrap;
      }
  
      .urlbarView-action {
        display: none !important;
      }
  

      .urlbarView-title {
        color: light-dark(black,white) !important;
        font-size: 16px !important;
        font-weight: 500 !important;
      }
  
      .urlbarView-url {
        color: light-dark(black,white) !important; 
        opacity: 0.5 !important;
      }
  
      /* Expanded URLBar - Bigger URL Text */
      #urlbar[breakout-extend] #urlbar-input {
        font-size: 1.4rem !important;
        margin-top: -2px !important;
      }
  
      .urlbarView-favicon {
        fill: light-dark(black,white) !important;
      }
  
      .urlbarView-title-separator {
        display: none !important;
      }
  
      .urlbarView-row {
        border-radius: 10px !important;
        margin-inline: 2px !important;
      }
  
      .urlbarView-row:hover {
        background: color-mix(in srgb, var(--lwt-accent-hover) 20%, transparent 80%) !important;
        border-radius: 10px !important;
        margin-inline: 2px !important;
      }
          

          
/* Multiple Toolbar mode URL Bar enhancements */
    @media (not (-moz-bool-pref: "zen.view.use-single-toolbar")) {
      
      #urlbar:not([focused]) {
        height: 30px !important;
      }
      
      #urlbar[breakout-extend="true"] {
        #urlbar-container:has(&) {
          border-radius: 10px !important;
          height: 38px !important;
          background: none !important;
          border: 0px solid color-mix(in srgb, black 10%, white 20%) !important;
        }
      }
      
      #urlbar-container {
        margin-top: 3px !important;
      }

      #urlbar:not([focused]) {
        background-color: light-dark(rgb(255 255 255 / 0.2), rgb(0 0 0 / 0.2)) !important;
          border: 1px solid light-dark(rgb(0 0 0 / 0.2), rgb(255 255 255 / 0.2)) !important;
      }
      .urlbar-input {
        #urlbar:not([focused])[domaindir="ltr"] > .urlbar-input-container > .urlbar-input-box > & {
          text-align: center !important;
        }
      }
      
      /* Align toolbar buttons */
      toolbar .toolbarbutton-1 {
        appearance: none;
        margin-top: 2px !important;
        padding: 0 var(--toolbarbutton-outer-padding);
        justify-content: center;
      }
      
    }
      




