/*  ===========================================================
    SIDE PANELS - History, Bookmarks and Sync
    =========================================================== */

    #sidebar-box {
        opacity: 1 !important;
    }

    window.sidebar-panel {
        background-color: light-dark(color-mix(in srgb, var(--lwt-accent-color) 100%, white 90%),
                color-mix(in srgb, var(--lwt-accent-color) 100%, black 90%)) !important;
        animation: lateral-panel-appear 0.25s ease-out !important;
    }

    #zen-tabbox-wrapper {
        & #sidebar-splitter {
            opacity: 0;
            margin: -5px !important;
        }
    }

    search-textbox#search-box {
        appearance: none !important;
        background-color: var(--zen-colors-tertiary) !important;
        border: 1px solid var(--zen-colors-border) !important;
        padding: 0.5rem !important;
        border-radius: 5px !important;
    }

    search-textbox#search-box:focus {
                appearance: none !important;
        background-color: light-dark(white, black) !important;
        border: 1px solid var(--zen-colors-border) !important;
        padding: 0.5rem !important;
        border-radius: 5px !important;
        transition: all 0.4s  !important;
    }


    button#viewButton {
        appearance: none;
        color: inherit;
        background-color: transparent !important;
        border-radius: var(--toolbarbutton-border-radius);
        border: 1px solid transparent !important;
    }

    button#viewButton:hover {
        background-color: var(--zen-colors-border) !important;
    }

    button#viewButton:hover:active {
        background-color: var(--zen-colors-border) !important;
    }

    #sidebar-box #sidebar-header {
        border-bottom: 0px !important;
    }

    #sidebar-box[sidebarcommand="viewHistorySidebar"] {
        background-color: light-dark(color-mix(in srgb, transparent 100%, white 0%),
                color-mix(in srgb, transparent 100%, black 0%)) !important;
        border-radius: var(--zen-border-radius);
        border: 1px solid color-mix(in srgb, black 10%, white 10%) !important;
        box-shadow: 0 0 0 0 !important;
        padding: var(--zen-toolbox-padding) !important;
        margin-right: -2px !important;
        margin-bottom: 1px !important;
        transition: all 0.2s ease-in-out;
        animation: lateral-panel-appear 0.25s ease-out !important;
    }

    #sidebar-box[sidebarcommand="viewBookmarksSidebar"] {
        background-color: light-dark(color-mix(in srgb, transparent 100%, white 0%),
                color-mix(in srgb, transparent 100%, black 0%)) !important;
        border-radius: var(--zen-border-radius);
        box-shadow: 0 0 0 0 !important;
        border: 1px solid color-mix(in srgb, black 10%, white 10%) !important;
        padding: var(--zen-toolbox-padding) !important;
        margin-right: -2px !important;
        margin-bottom: 1px !important;
        transition: all 0.2s ease-in-out;
        animation: lateral-panel-appear 0.25s ease-out !important;
    }

    #sidebar-box[sidebarcommand="viewTabsSidebar"] {
        background-color: light-dark(color-mix(in srgb, transparent 100%, white 0%),
                color-mix(in srgb, transparent 100%, black 0%)) !important;
        border-radius: var(--zen-border-radius);
        box-shadow: 0 0 0 0 !important;
        border: 1px solid color-mix(in srgb, black 10%, white 10%) !important;
        padding: var(--zen-toolbox-padding) !important;
        margin-right: -2px !important;
        margin-bottom: 1px !important;
        transition: all 0.2s ease-in-out;
        animation: lateral-panel-appear 0.25s ease-out !important;
    }

    #sidebar-box[sidebarcommand="viewGenaiChatSidebar"] {
        background-color: light-dark(color-mix(in srgb, transparent 100%, white 0%),
                color-mix(in srgb, transparent 100%, black 0%)) !important;
        border-radius: var(--zen-border-radius);
        box-shadow: 0 0 0 0 !important;
        border: 1px solid color-mix(in srgb, black 10%, white 10%) !important;
        padding: var(--zen-toolbox-padding) !important;
        margin-right: -2px !important;
        margin-bottom: 1px !important;
        transition: all 0.2s ease-in-out;
        animation: lateral-panel-appear 0.25s ease-out !important;
    }

    #header {
        display: none !important;
    }


    /* Synced Tabs Sidebar */
    @-moz-document url("chrome://browser/content/syncedtabs/sidebar.xhtml") {
      :root {
        background-color: transparent !important;
      }
    }


    search-textbox.tabsFilter {
        appearance: none !important;
        background-color: var(--zen-colors-tertiary) !important;
        border: 1px solid var(--zen-colors-border) !important;
        padding: 0.5rem !important;
        border-radius: 5px !important;
    }

    search-textbox.tabsFilter:focus {
        appearance: none !important;
        background-color: light-dark(white, black) !important; !important;
        border: 1px solid var(--zen-colors-border) !important;
        padding: 0.5rem !important;
        border-radius: 5px !important;
        transition: all 0.4s  !important;
    }




#multi-stage-message-root {
  & label {
    background-color: transparent !important;
    border: 0.5px solid var(--border-color-deemphasized);
    border-radius: 10px !important;
    flex-direction: row;
    margin: 1.5px;
    outline-offset: var(--focus-outline-offset);
    padding: var(--space-small);
  }
}

