/*  ===================================
    BARRA DE ENDEREÇOS / URLBAR
    =================================== */

    #urlbar[breakout-extend='true'] {
        position: fixed !important;
      }
  
      .urlbarView-title {
        white-space: nowrap;
        line-height: 1.4 !important;
        font-size: 1.1em !important;
      }
  
  
      #urlbar-background {
            background-color:  var(--lwt-urlbar-bg) !important;
      }
  
      #urlbar-background {
        border: none !important;
        background-color:  light-dark(
                                 color-mix(in srgb, var(--lwt-accent-color) 100%, white 90%), 
                                 color-mix(in srgb, var(--lwt-accent-color) 100%, black 20%)) 
                               !important;
        box-shadow: none !important;
      }
  
      #urlbar[breakout-extend="true"] {
          position: absolute;
          top: 50%;
          left: 50%;
        
        #urlbar-container:has(&) {
          border-radius: 10px !important;
          height: 38px !important;
          background: none !important;
          border: 1px solid color-mix(in srgb, black 10%, white 20%) !important;
        }
      }
  
          #identity-permission-box {
              display: none !important;
          }
          
          #identity-box[pageproxystate="invalid"] {
              & > #identity-permission-box {
                  display: none !important;
              }
          }
          
          #urlbar[breakout-extend="true"] {
              #identity-permission-box {
                  display: inherit !important;
              }
              
              #identity-icon-box {
                  display: inherit !important;
                  margin-inline: 4px !important;
                  transform: scale(1.2) !important;
              }
              
               #translations-button, #reader-mode-button, #tracking-protection-icon-container, #picture-in-picture-button, #star-button-box {
                  margin-inline: 4px !important;
                  transform: scale(1.2) !important;
              }
              
              #password-notification-icon {
                  margin-top: 4px !important;
                  margin-left: 6px !important;
                  transform: scale(1.4) !important;
              }
          }
          
  
     
      #urlbar:not([focused="true"]):not([breakout-extend="true"]) > #urlbar-background {
        background: none !important;
        backdrop-filter: none !important;
      }
  
      #urlbar[breakout-extend] #urlbar-background {
        transition: all 0.1s linear !important;
      }
  
      .urlbarView-body-inner {
        #urlbar[open] > .urlbarView > .urlbarView-body-outer > & {
          border-top: 0px solid var(--urlbarView-separator-color) !important;
        }
      }
      .urlbarView:not([noresults]) > .search-one-offs:not([hidden]) {
        border-top: 0px solid var(--urlbarView-separator-color) !important;
      }
  
      /*? hide search one offs */
      @media not (-moz-bool-pref: "shimmer.show-search-one-offs") {
        .search-one-offs {
          display: none !important;
        }
      }
  
      .urlbarView-results {
        padding-block: unset !important;
        margin-left: 0px !important;
        margin-bottom: 5px !important;
        white-space: nowrap;
      }
  
      .urlbarView-action {
        display: none !important;
      }
  
      #urlbar {
        background-color:  light-dark(color-mix(in srgb, white 0%, transparent 80%), 
                                      color-mix(in srgb, black 0%, transparent 80%)) !important;
        margin-top: 0 !important;
        margin-left: 0px !important;
        margin-right: 3px !important;
        border: 1px solid color-mix(in srgb, black 10%, white 20%) !important;
        border-radius: 10px !important;
      }
  
      #urlbar[open] {
        & #urlbar-background {
           background-color: light-dark(color-mix(in srgb, white 100%, transparent 20%), 
                                        color-mix(in srgb, black 100%, transparent 20%)) !important;
          box-shadow: 0 10px 40px 10px rgba(0,0,0,0.05) !important;
          outline: none !important;
          outline-offset: none !important;
          backdrop-filter: blur(30px) !important;
        }
      }
      
      #urlbar[open] {
        margin-top: 15vh !important;
        margin-bottom: 15vh !important;
      }
  
      #translations-button-circle-arrows {
        display: none !important;
      }
      #translations-button-locale {
        display: none !important;
      }
  
      .urlbarView-title {
        color: light-dark(black,white) !important;
        font-size: 16px !important;
        font-weight: 500 !important;
      }
  
      .urlbarView-url {
        color: light-dark(black,white) !important; 
        opacity: 0.5 !important;
      }
  
      /* Not Secure webpage label on URLBar */
      .notSecure {
        margin-left: -2px !important;
        margin-right: 6px !important;
      }
      .notSecure #identity-icon-box {
        border-radius: 7px !important;
        background: light-dark(color-mix(in srgb, var(--lwt-urlbar-bg) 0%, red 30%), 
                               color-mix(in srgb, var(--lwt-urlbar-bg) 100%, black 40%)) !important;
        margin-left: 3px !important;
      }
      #identity-icon-label {
        display: none !important;
      }
      #zen-split-views-button {
        fill: light-dark(black, white) !important;
      }
  
      /* Expanded URLBar - Bigger URL Text */
      #urlbar[breakout-extend] #urlbar-input {
        font-size: 1.3rem !important;
        margin-top: -2px !important;
      }
  
      .urlbarView-favicon {
        fill: light-dark(black,white) !important;
      }
  
      .urlbarView-title-separator {
        display: none !important;
      }
  
      .urlbarView-row {
        border-radius: 10px !important;
        margin-inline: 2px !important;
      }
  
      .urlbarView-row:hover {
        background: color-mix(in srgb, var(--lwt-accent-hover) 20%, transparent 80%) !important;
        border-radius: 10px !important;
        margin-inline: 2px !important;
      }
          
      #urlbar:not([extend="true"]) #identity-box #identity-icon-box {
        margin-right: 3px !important;
      }
          
     #star-button[starred] {
        fill-opacity: 1;
        fill: color-mix(in srgb, var(--toolbarbutton-icon-fill-attention) 100%, black 10%) !important;
      }
      
      /* Altera o Identity Icon na URL Bar para o novo ícone do Zen */
      #identity-box[pageproxystate="valid"].chromeUI #identity-icon {
        list-style-image: url(icons/brand/zen-identity-icon.svg) !important;
      }
        
        #identity-box[pageproxystate="valid"].verifiedDomain #identity-icon {
          width: 14px !important;
        }
  